@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --accent-text: #ffd52c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-text: var(--accent-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffd52c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
h1 {
  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-size: 25px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-weight: bold;
}
h4 {
  font-size: 15px;
  font-weight: bold;
}
h5 {
  font-size: 10px;
  font-weight: bold;
}
blockquote {
  display: flex;
  &::before {
    display: inline-block;
    content: "-";
    margin-right: 10px;
  }
}
ol {
  list-style: decimal;
  margin-left: 15px;
}
ul {
  list-style: disc;
}
a {
  color: blue;
}
code {
  font-family: monospace;
}
.language-bash {
  color: green;
}

.markdown-preview {
  all: unset; /* Сбрасываем все унаследованные стили */
  font-family: inherit;
}

.markdown-preview * {
  all: revert; /* Восстанавливаем базовые стили для вложенных элементов */
}
