@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --accent-text: #ffd52c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-text: var(--accent-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffd52c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
